src/main/resources/MediaanFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:tns="http://www.mediaanservice.org/fault" elementFormDefault="qualified" 
		targetNamespace="http://www.mediaanservice.org/fault">
	<element name="mediaanFault">
		<complexType>
			<sequence>
				<element name="errorCode" nillable="false" type="short"/>

				<element maxOccurs="1" minOccurs="0" name="message" type="string"/>
			</sequence>
		</complexType>
	</element> 
</schema>
